.login-form{
    -fx-background-color:linear-gradient(to bottom right, #252d50, #324f6b);
}

.card-form{
    -fx-background-color:#2a5172;
    -fx-background-radius:20px;
}

.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}

.close:hover{
    -fx-background-color:#f13f57;
}

.minimize{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}

.minimize:hover{
    -fx-background-color:#5481ab;
}

.textfield{
    -fx-background-color:transparent;
    -fx-text-inner-color:#fff;
    -fx-border-color:#fff;
    -fx-border-width:0px 0px .4px 0px;
    -fx-font-size:16px;
}

.textfield:focused{
    -fx-border-width:0px 0px 1.5px 0px;
}

.login-btn{
    -fx-background-color:#468ec2;
    -fx-background-radius:20px;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-size:18px;
    -fx-font-weight:bold;
}

.login-btn:hover{
    -fx-background-color:#559bc9;
}

.switch-btn {
    -fx-background-color: transparent;
    -fx-border-color: #468ec2;
    -fx-border-radius: 20px;
    -fx-cursor: hand;
    -fx-font-size: 16px;
}

.switch-btn:hover {
    -fx-background-color: #468ec2;
    -fx-background-radius: 20px;
}